*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #216aa7;
    margin: 20px;
}
section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}

input, select{
    background-color: #d9d9d9;
    color: black;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    border: 2px solid #d9d9d9;
}



#screen{
    background-color: #d9d9d9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    gap: 30px;
    width: 100%;
    margin: 10px;
    border-radius: 8px;
    flex-wrap: wrap;
}

#page{
    background-color: hsla(340, 57%, 64%, 0.421);
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    align-self: flex-end;
}

.top{
    background-color: #d9d9d9;
    color: black;
    width: 30px;
    height: 30px;
    margin: 10px;
}

.top:hover{
    background-color: palevioletred;
}

.log{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 100px;
}

button{
    border-style: none;
    background-color: palevioletred;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

button:hover{
    background-color: #fb7d1d;
}


progress{
    width: 200px;
    height: 20px;
    background-color: #d9d9d9;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
}


#energy{
    background-color: goldenrod;

}
#energy::-moz-progress-bar{
    background-color: goldenrod;
}
#energy::-webkit-progress-value{
    background-color: goldenrod;
}

#fullness{
    background-color: sienna;

}
#fullness::-moz-progress-bar{
    background-color: sienna;
}
#fullness::-webkit-progress-value{
    background-color: sienna;
}